<div class="p-10 grid lg:grid-cols-3 gap-5">
  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="warning">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="warning"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="warning"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="warning"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="warning" variant="default">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="warning"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="warning"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="warning"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="misc" variant="transparent">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="misc"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="misc"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="misc"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="success" variant="transparent">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="misc"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="misc"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="misc"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="info" variant="transparent">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="info"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="info"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="info"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="primary" variant="transparent">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="primary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="primary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="primary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="primary" variant="transparent">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="primary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="primary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="primary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field
    space="small"
    color="secondary"
    variant="transparent"
  >
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="secondary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field
    space="small"
    color="secondary"
    variant="unbordered"
  >
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="YArd"
        space="small"
        label="YArd"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="secondary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="dawn" variant="shadow">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="kitchen"
        space="small"
        label="kitchen"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="secondary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="danger" variant="shadow">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="parking"
        space="small"
        label="parking"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Yard"
        space="small"
        label="Yard"
        id="k1"
        color="secondary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="large" color="success" variant="outline">
    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Home"
        space="small"
        label="Home"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="YArd"
        space="small"
        label="YArd"
        id="k1"
        color="secondary"
      />
    </:control>

    <:control>
      <MishkaChelekom.CheckboxField.checkbox_field
        name="home"
        value="Parking"
        space="small"
        label="Parking"
        id="k1"
        color="secondary"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>

  <MishkaChelekom.FieldsetField.fieldset_field space="small" color="success" variant="outline">
    <:control>
      <MishkaChelekom.RadioField.radio_field
        name="home"
        value="Home"
        space="small"
        color="success"
        label="This is label of radio"
      />
    </:control>

    <:control>
      <MishkaChelekom.RadioField.radio_field
        name="home"
        value="Home"
        space="small"
        color="success"
        label="This is label of radio"
      />
    </:control>

    <:control>
      <MishkaChelekom.RadioField.radio_field
        name="home"
        value="Home"
        space="small"
        color="success"
        label="This is label of radio"
      />
    </:control>
  </MishkaChelekom.FieldsetField.fieldset_field>
</div>
